@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Noto Sans Bold";
}
iframe {
  background: rgba(50, 50, 50, 0.3) url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="white"><path opacity=".25" d="M16 0 A16 16 0 0 0 16 32 A16 16 0 0 0 16 0 M16 4 A12 12 0 0 1 16 28 A12 12 0 0 1 16 4"/><path d="M16 0 A16 16 0 0 1 32 16 L28 16 A12 12 0 0 0 16 4z"><animateTransform attributeName="transform" type="rotate" from="0 16 16" to="360 16 16" dur="0.8s" repeatCount="indefinite" /></path></svg>') center no-repeat;
}
.bg {
  width: 100vw;
  min-height: calc(100vh - 28px);
  background-image: linear-gradient(
    to top,
    #faeed6 0%,
    #f8efda 20%,
    #f3f3e7 30%,
    #def6f8 100%
  );
}
.item {
  @apply border-2 border-solid border-yellow border-dashed bg-white rounded-[80px] cursor-pointer;
}
.home .center{
  @apply absolute top-0 left-0 right-0 bottom-[128px] m-auto z-10;
}
.cardHeadShot {
  @apply absolute top-[-50px] left-[-50px];
}

